@model IEnumerable<Soranmakale.Entities.MakaleninYorumu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturulmaTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuzenlenmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SahibiAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuzenlenmeTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SahibiAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
